@import 'https://fonts.googleapis.com/css?family=PT+Sans';
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'PT Sans';
}
.header {
   height: 45vh;
   background: url(bg.jpg);
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.header__box {
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   justify-content: center;
   width: 50%;
   flex-direction: column;
   align-items: center;
   padding: 10px;
}
.header__title {
   color: #f1f1f1;
   font-size: 32px;
   font-weight: 300;
   text-transform: uppercase;
   line-height: 1;
   margin: 0;
}
.header__btn {
   font-size: 18px;
   padding: 10px 45px;
   background-color: rgba(43, 53, 52, 0.55);
   color: #fff;
   border: 1px solid inherit;
   border-radius: 5px;
   margin: 0;
   border: 0;
   box-shadow: none;
   transition: 0.2s ease;
   cursor: pointer;
}
.header__btn:hover {
   background-color: rgba(43, 53, 52, 1);
}
.header__input {
   width: 225px;
   height: 45px;
   text-align: center;
   font-size: 18px;
   color: #fff;
   background-color: inherit;
   box-shadow: none;
   margin-top: 20px;
   margin-bottom: 20px;
   border: 0;
}
.header__input:focus {
   background-color: (0, 0, 0, 0.2);
}
.countries {
   text-align: center;
   background-color: rgba(124, 129, 107, 0.75);
   height: 55vh;
}
.countries__title {
   padding: 10px 0;
   font-size: 28px;
}
.countries__list {
}
.countres__item {
   padding-top: 5px;
   font-size: 20px;
}
